set_prop(hal_camera_default, vendor_camera_hal_prop)
get_prop(hal_camera_default, vendor_camera_hal_prop)
allow hal_camera_default dmabuf_cma_heap_device:chr_file r_file_perms;
allow hal_camera_default hal_graphics_allocator_default_tmpfs:file { read write map };
allow hal_camera_default hal_camera_default:user_namespace { create };
allow hal_camera_default hal_camera_default:cap_userns { sys_admin };
type ipa_proxy, domain;
domain_auto_trans(hal_camera_default, ipa_proxy_exec, ipa_proxy)
allow hal_camera_default ipa_proxy:process { sigkill };
allow ipa_proxy hal_camera_default:fd { use };
allow ipa_proxy hal_camera_default:unix_dgram_socket { read write };
