CONFIG_LIBNVDIMM=y
CONFIG_OF_PMEM=y
CONFIG_CLD_HL_SDIO_CORE=y
CONFIG_USB_NET_RNDIS_HOST=y
CONFIG_USB_SERIAL_QUALCOMM=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_USB_NET_QMI_WWAN=n
CONFIG_USB_NET_QMI_WWAN_SIM8202=y
